.title {
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    display: none;
}

.color {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.expanded {
    flex: 100% !important;
    justify-content: flex-start;
}
