.title {
    animation: slide-up 1s ease;
    align-self: flex-start;
    color: rgba(0, 0, 0, 0.6);
}

.container {
    width: 100vh;
    animation: grow-width 1s ease;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.card {
    animation: fade-up 2s ease;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    box-shadow: 5px 5px 30px rgba(0,0,0,.3);
    transition: box-shadow 0.3s ease-in-out;
    margin: 20px 0;
}

@keyframes slide-up {
    0% {
        transform: translateY(50vh);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fade-up {
    0% {
        transform: translateY(100px);
        opacity: 0;
        box-shadow: 0px 0px 0px black;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
        box-shadow: 5px 5px 30px rgba(0,0,0,.3);
    }
}

@keyframes grow-width {
    0% {
        width: 0;
    }

    100% {
        width: 100vh;
    }
}